* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  width: 100%;
}

.App {
  width: 100%;
  position: relative;
}
